<div class="footer">
    <div class="row">
        <div class="col-md-6">
            <p>Miguel Vicario Rubio</p>
        </div>

        <div class="col-md-6">
            <p>Desarrollado en Blazor, html, css y JavaScript</p>
        </div>
    </div>
</div>
