<div class="top-row ps-1 navbar navbar-dark">
    <div class="container-fluid">
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#home">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#sobreMi">
                Sobre mí
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#portafolio">
                Portfolio
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#educacion">
                Educación
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#experiencia">
                Experiencia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#skills">
                Skills
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="#contacto">
                Contacto
            </NavLink>
        </div>
    </nav>
</div>
