@page "/portafolio"
@rendermode InteractiveServer

<PageTitle>Portfolio</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Portfolio</h1>
        </div>
    </div>

    <div class="row mt-5">
        <!--Leganes Customs-->
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3 tooltip-icon" style="max-width: 18rem;">
                <img class="card-img-top card-img-uniform" src="Logo4.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Leganes Customs</h5>
                    <h6 class="card-title">Tecnologías utilizadas</h6>
                    <p class="card-text">
                        <a href="#blazor" class="tooltip-icon">
                                <img src="Blazor.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Blazor</span>
                        </a>
                        <a href="#c#" class="tooltip-icon ms-2">
                                <img src="c.svg" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">C#</span>
                        </a>
                        <a href="#html" class="tooltip-icon">
                                <img src="html.png" class="img-fluid" style="max-width:70px;">
                                <span class="tooltip-text">HTML</span>
                        </a>
                        <a href="#css" class="tooltip-icon">
                                <img src="CSS.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">CSS</span>
                        </a>
                        <a href="#javascript" class="tooltip-icon mt-2">
                                <img src="javascript.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">JavaScript</span>
                        </a>
                        <a href="#postgresql" class="tooltip-icon ms-2">
                                <img src="postgresql.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">PostgreSQL</span>
                        </a>
                        <a href="#bootstrap" class="tooltip-icon ms-2">
                                <img src="bootstrap5.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Bootstrap5</span>
                        </a>
                    </p>
                    <h6 class="card-title">Enlaces</h6>
                    <p class="card-text">
                        <a href="https://github.com/miviru/LeganesCustoms.git" target="_blank" rel="noopener noreferrer" class="tooltip-icon ms-2">
                                <img src="github2.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!--MadMotor-->
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <img class="card-img-top card-img-uniform" src="MadMotor_transparent.svg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Madmotor</h5>
                    <h6 class="card-title">Tecnologías utilizadas</h6>
                    <p class="card-text">
                        <a href="#php" class="tooltip-icon">
                                <img src="php.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">PHP</span>
                        </a>
                        <a href="#laravel" class="tooltip-icon ms-3">
                                <img src="laravel.png" class="img-fluid" style="max-width:40px;">
                                <span class="tooltip-text">Laravel</span>
                        </a>
                        <a href="#html" class="tooltip-icon">
                                <img src="html.png" class="img-fluid" style="max-width:70px;">
                                <span class="tooltip-text">HTML</span>
                        </a>
                        <a href="#css" class="tooltip-icon">
                                <img src="CSS.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">CSS</span>
                        </a>
                        <a class="tooltip-icon ms-2">
                                <img src="tailwind.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">TailwindCSS</span>
                        </a>
                        <a href="#postgresql" class="tooltip-icon ms-2">
                                <img src="postgresql.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">PostgreSQL</span>
                        </a>
                        <a href="#bootstrap" class="tooltip-icon ms-2">
                                <img src="bootstrap5.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Bootstrap5</span>
                        </a>
                    </p>
                    <h6 class="card-title">Enlaces</h6>
                    <p class="card-text">
                        <a href="https://github.com/miviru/MadMotorLaravel.git" target="_blank" rel="noopener noreferrer" class="tooltip-icon ms-2">
                                <img src="github2.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

        <!--ATP Laravel-->
        <div class="col-md-4">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <img class="card-img-top card-img-uniform" src="atp.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">ATP Laravel</h5>
                    <h6 class="card-title">Tecnologías utilizadas</h6>
                    <p class="card-text">
                        <a href="#php" class="tooltip-icon">
                                <img src="php.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">PHP</span>
                        </a>
                        <a href="#laravel" class="tooltip-icon ms-3">
                                <img src="laravel.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">Laravel</span>
                        </a>
                        <a href="#html" class="tooltip-icon">
                                <img src="html.png" class="img-fluid" style="max-width:70px;">
                                <span class="tooltip-text">HTML</span>
                        </a>
                        <a href="#css" class="tooltip-icon">
                                <img src="CSS.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">CSS</span>
                        </a>
                        <a href="#javascript" class="tooltip-icon mt-2">
                                <img src="javascript.png" class="img-fluid" style="max-width:50px;">
                                <span class="tooltip-text">JavaScript</span>
                        </a>
                        <a href="#postgresql" class="tooltip-icon ms-3">
                                <img src="postgresql.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">PostgreSQL</span>
                        </a>
                        <a href="#bootstrap" class="tooltip-icon ms-2">
                                <img src="bootstrap5.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Bootstrap5</span>
                        </a>
                    </p>
                    <h6 class="card-title">Enlaces</h6>
                    <p class="card-text">
                        <a href="https://github.com/miviru/ATPLaravel.git" target="_blank" rel="noopener noreferrer" class="tooltip-icon ms-2">
                                <img src="github2.png" class="img-fluid" style="max-width: 50px;">
                                <span class="tooltip-text">Github</span>
                        </a>
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
