@page "/skills"
@rendermode InteractiveServer

<PageTitle>Skills</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Skills</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4>Lenguajes</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a id="php" class="tooltip-icon">
                <img src="php.png" class="img-fluid" style="max-width: 100px;">
                <span class="tooltip-text-skills">PHP
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="html" class="tooltip-icon">
                <img src="html.png" class="img-fluid" style="max-width:100px;">
                <span class="tooltip-text-skills">HTML
                    <p>Nivel: Alto</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="css" class="tooltip-icon">
                <img src="CSS.png" class="img-fluid" style="max-width:70px;">
                <span class="tooltip-text-skills">CSS
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="c#" class="tooltip-icon ms-3">
                <img src="c.svg" class="img-fluid" style="max-width:60px;">
                <span class="tooltip-text-skills">C#
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="javascript" class="tooltip-icon ms-4">
                <img src="javascript.png" class="img-fluid" style="max-width:60px;">
                <span class="tooltip-text-skills">JavaScript
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="java" class="tooltip-icon ms-4">
                <img src="java.png" class="img-fluid" style="max-width:55px;">
                <span class="tooltip-text-skills">Java
                    <p>Nivel: Medio</p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="sql" class="tooltip-icon ms-1">
                <img src="sql.png" class="img-fluid" style="max-width:110px;">
                <span class="tooltip-text-skills">SQL
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>Frameworks</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a id="blazor" class="tooltip-icon">
                <img src="Blazor.png" class="img-fluid" style="max-width: 70px;">
                <span class="tooltip-text-skills">Blazor
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="postgresql" class="tooltip-icon ms-4">
                <img src="postgresql.png" class="img-fluid" style="max-width: 70px;">
                <span class="tooltip-text-skills">PostgreSQL
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                        <li>RoadToData: 3 meses</li>
                    </p>
                </span>
            </a>
            <a id="bootstrap" class="tooltip-icon ms-4">
                <img src="bootstrap5.png" class="img-fluid" style="max-width: 80px;">
                <span class="tooltip-text-skills">Bootstrap5
                    <p>Nivel: Alto</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="laravel" class="tooltip-icon ms-4">
                <img src="laravel.png" class="img-fluid" style="max-width:70px;">
                <span class="tooltip-text-skills">Laravel
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="springboot" class="tooltip-icon ms-3">
                <img src="springboot.png" class="img-fluid" style="max-width: 80px;">
                <span class="tooltip-text-skills">Springboot
                    <p>Nivel: Medio</p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12">
            <h4>Herramientas</h4>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a id="docker"  class="tooltip-icon">
                <img src="docker.webp" class="img-fluid" style="max-width: 80px;">
                <span class="tooltip-text-skills">Docker
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="postman" class="tooltip-icon ms-3">
                <img src="postman.webp" class="img-fluid" style="max-width: 70px;">
                <span class="tooltip-text-skills">Postman
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="googlecloud" class="tooltip-icon ms-3">
                <img src="googlecloud.webp" class="img-fluid" style="max-width: 85px;">
                <span class="tooltip-text-skills">Google Cloud
                    <p>Nivel: Básico</p>
                    <p>Experiencia:
                        <li>RoadToData: 3 meses</li>
                    </p>
                </span>
            </a>
            <a id="vscode" class="tooltip-icon ms-3">
                <img src="vscode.png" class="img-fluid" style="max-width: 60px;">
                <span class="tooltip-text-skills">Visual Studio Code
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="intellij" class="tooltip-icon ms-4">
                <img src="intellij.png" class="img-fluid" style="max-width: 60px;">
                <span class="tooltip-text-skills">IntelliJ
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                        <li>MadMotor</li>
                        <li>ATP Laravel</li>
                    </p>
                    <p>Experiencia:
                        <li>Grado Superior Desarrollo Aplicaciones Web: 2 años</li>
                    </p>
                </span>
            </a>
            <a id="dbeaver" class="tooltip-icon ms-4">
                <img src="dbeaver.png" class="img-fluid" style="max-width: 60px;">
                <span class="tooltip-text-skills">Dbeaver
                    <p>Nivel: Medio</p>
                    <p>Proyectos utilizados:
                        <li>Leganes Customs</li>
                    </p>
                    <p>Experiencia:
                        <li>RoadToData: 3 meses</li>
                    </p>
                </span>
            </a>
        </div>
    </div>

</div>

