@page "/sobreMi"
@rendermode InteractiveServer

<PageTitle>Sobre Mí</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>Sobre Mí</h1>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-2">
            <img src="image.png" alt="foto" class="w-75" />
        </div>
        <div class="col-md-10 mt-3">
            <p style="font-size: 22px;">
                ¡Hola! Soy Miguel, desarrollador de aplicaciones web con pasión por la informática y la automoción. Comencé mi
                camino profesional en el mundo de la automoción, obteniendo un grado superior, y luego amplié mis horizontes
                al especializarme en Desarrollo de Aplicaciones Web.
            </p>
            <p style="font-size: 22px;">
                La mayor parte de mi trayectoria profesional ha estado en el sector automovilístico,
                y recientemente he dado el paso hacia el mundo de la informática.
            </p>
            <p style="font-size: 22px;">
                Si quieres contactar conmigo, escríbeme a 
                <a href="mailto:miguelvicariorubio@gmail.com?subject=Consulta" class=" tooltip-icon" style="font-size: 22px; text-decoration: underline;">
                    miguelvicariorubio@gmail.com
                    <span class="tooltip-text">Enviar correo</span>
                </a>. 
            </p>
            <p style="font-size: 22px;">
                Si quieres ver mi experiencia laboral en detalle, aquí te dejo mi 
                <a href="https://www.linkedin.com/in/miguel-vicario-rubio-0b22aa324/" target="_blank" rel="noopener noreferrer" class=" tooltip-icon" style="font-size: 22px; text-decoration: underline;">
                    LinkedIn
                <span class="tooltip-text">ver LinkedIn</span>
                </a>.
            </p>
        </div>
    </div>
</div>
